body {
  /* background-color: rgba(255,242,228,0.5); */
  color: #616163;
  font-family: 'Titillium Web', sans-serif;
  margin:0;
  padding:0;
}

#log-in {
  background-image: url('../assets/images/log-in.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

#log-in > section {
  width: 100%;
}

#log-in > section > section:nth-child(2) > div > button {
  background-color: #00AFAC;
  border: 1px solid #00AFAC;
  height: 5rem;
  margin: 3% auto;
  width: 80%;
}

#log-in > section > section:nth-child(2) > div > button:nth-child(4) {
  background-color: #DC0026;
  border: 1px solid #DC0026;
}

#newsFeet > section > section {
  padding: 0;
}

#newsFeet > section > section > nav {
  align-items: center;
  height: 100px;
  justify-content: space-between;
  -webkit-flex-direction: row;
  padding: 0 10%;
}

#newsFeet > section > section > nav > a,
#newsFeet > section > section > nav > span > a {
  color: #FFF2E4;
  font-size: 1em;
}

#newsFeet > section > section > nav > button {
  border: 1px solid #FFF2E4;
  margin: auto 0%;
}

/* estilos para las imagenes de la sección de newsfeed */
#newsFeet > section > section > nav > img {
  width: 8%;
}

#newsFeet > section > section > nav > span > img {
  border-radius: 50%;
  width: 8%;
}

#quote-newsfeed,
#user-information > section {
  margin: 3% 0%;
  text-align: center;
}

#new-history > div:nth-child(1) > label,
#wall-new-history > div:nth-child(1) > label,
#friends > section.col-sm-2.col-md-2.col-lg-4.col-xl-4 > p {
  color: #DC0026;
}

#new-history > div:nth-child(2) > button,
#post {
  background-color: #dc0026;
  border: 1px solid #dc0026;
  color: #FFF2E4;
  margin-left: 75%;
}

#new-history > div:nth-child(2) > input,
#file-history {
  color: #00AFAC;
  font-size: 0.8em;
}

#new-history > div:nth-child(1) > textarea,
#wall-new-history > div:nth-child(1) > textarea,
#new-history > div:nth-child(1) > input,
#wall-new-history > div:nth-child(1) > input,
.friendProfile {
  border: 1px solid #44FFD2;
}

#headingOne > h5 > button,
#headingTwo > h5 > button,
#headingThree > h5 > button,
#headingFour > h5 > button,
#headingFive > h5 > button {
  color: #FFF2E4;
  /* color: #DC0026; */
}

.log-in-tittle,
.log-in-buttons {
  margin-top: 15%;
  text-align: center;
}

.log-in-logo {
 border-radius: 50%;
 width: 60%;
}

/* favoritos */
.card-header {
  background-color: #00AFAC;
}

.btn-primary {
    color: #fff;
    background-color: #dc0026;
    border-color: #dc0026;
}

.new-post {
  border: 1px solid #44FFD2;
  margin: 5% auto;
}
/*
#profile > section > section {
  padding: 0;
}

#profileNav > section > section > nav {
  align-items: center;
  justify-content: space-between;
  -webkit-flex-direction: row;
}

#profileNav > section > section > nav > a {
  color: #FFF2E4;
  font-size: 1.4em;
}

#profileNav > section > section > nav > button {
  border: 1px solid #FFF2E4;
}

#profileNav > section > section > nav > img {
  width: 4%;
}

#quote-newsfeed {
  margin: 3% 0%;
  text-align: center;
}

#new-history > div:nth-child(1) > label {
  color: #DC0026;
}

#new-history > div:nth-child(2) > button {
  background-color: #dc0026;
  border: 1px solid #dc0026;
  color: #FFF2E4;
  margin-left: 85%;
}

#new-history > div:nth-child(2) > input {
  color: #00AFAC;
  font-size: 0.8em;
}

#new-history > div:nth-child(1) > textarea {
  border: 1px solid #44FFD2;
}

#headingOne > h5 > button,
#headingTwo > h5 > button,
#headingThree > h5 > button,
#headingFour > h5 > button,
#headingFive > h5 > button {
  color: #FFF2E4;
  /* color: #DC0026; */
}

/* .table-responsive{
  padding: 0;
  margin:0;
  position: relative;
  display: inline-block;
  align-items: flex-start;
}

#myPost{
  padding: 0;
  margin:0;
  position: relative;
  display: inline-block;
  justify-content: flex-end;
} */
