<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scribere: Write free, be free.</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

    <section class="container-fluid" id="log-in">
      <section class="row">
        <section class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <table>
            <tr>
              <th><img class="friendProfile" src="http://dummyimage.com/102x102" alt="friend picture"></th>
              <th><img class="friendProfile" src="http://dummyimage.com/102x102" alt="friend picture"></th>
              <th><img class="friendProfile" src="http://dummyimage.com/102x102" alt="friend picture"></th>
            </tr>

            <tr>
              <td><img class="friendProfile" src="http://dummyimage.com/102x102" alt="friend picture"></td>
              <td><img class="friendProfile" src="http://dummyimage.com/102x102" alt="friend picture"></td>
              <td><img class="friendProfile" src="http://dummyimage.com/102x102" alt="friend picture"></td>
            </tr>

            <tr>
              <td><img class="friendProfile" src="http://dummyimage.com/102x102" alt="friend picture"></td>
              <td><img class="friendProfile" src="http://dummyimage.com/102x102" alt="friend picture"></td>
              <td><img class="friendProfile" src="http://dummyimage.com/102x102" alt="friend picture"></td>
            </tr>
          </table>
        </section>
        </section>
      </section>


      <section class="container-fluid" id="myPost">
        <section class="row">
          <section class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
              <div class="card">
                <img class="card-img-top" src="http://dummyimage.com/200x200" alt="Card image">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content, Some quick example text to build on the card title and make up the bulk of the card's content, Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Share</a>
                </div>
             </div>
          </section>
        </section>
      </section>

      <section class="container-fluid" id="myPost">
        <section class="row">
          <section class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
              <div class="card">
                <img class="card-img-top" src="http://dummyimage.com/200x200" alt="Card image">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content, Some quick example text to build on the card title and make up the bulk of the card's content, Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Share</a>
                </div>
             </div>
          </section>
        </section>
      </section>


  <!-- sección con scripts -->
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-messaging.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
